.cart {
    min-width: 20rem;

    &__list {
        max-height: 250px;
        overflow: auto;
    }

    .bi-cart-fill {
        font-size: 20px;
    }

    .bi-box,
    .bi-clock {
        font-size: 25px;;
    }
}