<div class="monitor">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
   <div>
     <ul class="nav nav-tabs">
       <li class="nav-item">
         <a class="nav-link active" href="#">Active</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       <li class="nav-item">
         <a class="nav-link disabled">Disabled</a>
       </li>
     </ul>
     <list></list>
   </div>
  </div>
</div>
</div>

